<h1><%= @num_dice %>d<%= @sides %></h1>

<p> <a href="<%= request.fullpath %>">Roll again</a> | <a href="/">Go back home</a><p>

<ol>
  <% @rolls.each do |a_roll| %>
    <li>
      <p><i>Result: <b><%= a_roll %></b></p>
    </li>
  <% end %>
</ol>
